/* ************************
   04.4: Blog
   ********************* */
.single-blog {
  @include mobileSm {
    flex-direction: column;
  }
  a {
    display: block;
    img {
      margin-right: 30px;
      @extend .radius-5;
      @include mobileSm {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .blog-content {
    @include mobileSm {
      text-align: center;
    }
    h4 {
      line-height: 1.3;
      margin-bottom: 10px;
      @extend .trans3;
      &:hover {
        @extend .c1;
      }
    }
    .post-meta {
      a {
        display: inline-block;
        position: relative;
        @extend .text_color;
        &:not(:last-child) {
          padding-right: 15px;
          margin-right: 15px;
          position: relative;
          &:after {
            position: absolute;
            content: "";
            background-color: #ddddde;
            width: 2px;
            height: 12px;
            top: 50%;
            transform: translateY(-50%);
            right: -1px;
          }
        }
        &:hover {
          @extend .c1;
        }
      }
    }
  }
  &.style--two {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: "";
      @include vertical-gradient(transparent, $c1);
      transform: translateY(100%);
      transition: all 0.3s ease;
      opacity: 0;
    }
    .blog-content {
      position: absolute;
      z-index: 1;
      left: 30px;
      bottom: 30px;
      h4 {
        color: $white;
        &:hover {
          opacity: 0.9;
        }
      }
      .post-meta {
        a,
        span {
          color: $white;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
    &:hover {
      &:after {
        transform: translateY(0%);
        opacity: 1;
      }
    }
  }
}
